<?xml version="1.0"?>
<config>
    <modules>
        <Qiub_Slideshow>
            <version>0.1.0</version>
        </Qiub_Slideshow>
    </modules>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Qiub_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <layout>
            <updates>
                <slideshow>
                    <file>mq_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Qiub_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<slideshow>
					<file>qslideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <slideshow>
                <class>Qiub_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Qiub_Slideshow_Model_Mysql4</class>
                <entities>
                    <!--slideshow>
                        <table>slideshow</table>
                    </slideshow-->
					<slides>
                        <table>mq_slides</table>
                    </slides>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Qiub_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Qiub_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Qiub_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
	<default>
		<slideshow>
			<general>
				<mode>fade</mode>
				<speed>500</speed>
				<slide_margin>0</slide_margin>
				<start_slide>0</start_slide>
				<random_start>false</random_start>
				<slide_selector></slide_selector>
				<infinite_loop>true</infinite_loop>
				<hide_control_onend>false</hide_control_onend>
				<easing></easing>
				<captions>false</captions>
				<ticker>false</ticker>
				<ticker_hover>false</ticker_hover>
				<adaptive_height>false</adaptive_height>
				<adaptive_heigh_speed>500</adaptive_heigh_speed>
				<video>false</video>
				<responsive>true</responsive>
				<use_css>true</use_css>
				<preload_images>visible</preload_images>
				<touch_enabled>true</touch_enabled>
				<swipe_threshold>50</swipe_threshold>
				<one_to_one_touch>true</one_to_one_touch>
				<prevent_default_swipe_x>true</prevent_default_swipe_x>
				<prevent_default_swipe_y>false</prevent_default_swipe_y>
			</general>
			<pager>
				<pager>true</pager>
				<pager_type>full</pager_type>
				<pager_selector></pager_selector>
				<pager_custom></pager_custom>
				<build_pager></build_pager>	
			</pager>
			<controls>
				<controls>true</controls>
				<next_text>Next</next_text>
				<prev_text>Prev</prev_text>
				<next_selector></next_selector>
				<prev_selector></prev_selector>
				<auto_controls>false</auto_controls>
				<start_text>Start</start_text>
				<stop_text>Stop</stop_text>
				<auto_controls_combine>false</auto_controls_combine>
				<auto_controls_selector></auto_controls_selector>
			</controls>
			<auto>
				<auto>false</auto>
				<pause>4000</pause>
				<auto_start>true</auto_start>
				<auto_direction>next</auto_direction>
				<auto_hover>false</auto_hover>
				<auto_delay>0</auto_delay>
            </auto>
		</slideshow>
	</default>
</config>