<?xml version="1.0"?>
<config>
    <modules>
        <Qiub_Spidertheme>
            <version>0.1.1</version>
        </Qiub_Spidertheme>
    </modules>
	<frontend>
		<layout>
			<updates>
				<qspidertheme>
					<file>qiub/spidertheme.xml</file>
				</qspidertheme>
			</updates>
		</layout>	
	</frontend>
    <global>
        <models>
            <qspidertheme>
                <class>Qiub_Spidertheme_Model</class>
            </qspidertheme>
        </models>
        <helpers>
            <qspidertheme>
                <class>Qiub_Spidertheme_Helper</class>
            </qspidertheme>
        </helpers>
		<resources>
            <add_category_attribute>
                <setup>
                    <module>Qiub_Spidertheme</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute>
            <add_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_category_attribute_write>
            <add_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_category_attribute_read>
        </resources>
		<blocks>
            <spidertheme>
                <class>Qiub_Spidertheme_Block</class>
            </spidertheme>
        </blocks>
     </global>
	 <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<social_networks>
											<title>Qiub - All</title>
										</social_networks>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>