.slideshow-adminhtml-slide-index .content-header h3.head-adminhtml-slides { background-image: url(icons/slide-icon.png); }
.slideshow-adminhtml-slide-edit .content-header h3.add_slide { background-image: url(icons/slide-add-icon.png); }
.slideshow-adminhtml-slide-edit .content-header h3.edit_slide { background-image: url(icons/slide-update-icon.png); }